html {
    font-size: 62.5%;
    background-color: rgba(67,112,133,1);
    color: rgba(249,235,224,1);
    font-family: 'Spectral SC', serif;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
    color: rgba(252,159,91,1);
}


/*////////////////////////
Header
//////////////////////////*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    min-width: 6.25rem;
    height: 15.625rem;
}

ul {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

ul li {
    list-style: none;
}

ul li a,
span {
    font-size: 2.3125rem;
    text-decoration: none;
}

/*////////////////////////
Slider Gallery
//////////////////////////*/





/*////////////////////////
Gallery
//////////////////////////*/
.whiteBackground {
    background-color: rgba(249,235,224,1);
    color: rgba(67,112,133,1);
}

.gallerySection,
.servicesSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15rem;
    gap: 3.125rem;
}

.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textContainer h2 {
    font-size: 5rem;
    font-weight: 200;
    border-bottom: 3px solid rgba(252,159,91,1);
}

.textContainer p {
    margin-top: -1rem;
    font-size: 2.75rem;
    text-align: center;
    font-weight: 100;
}

.galleryIMG {
    min-width: 60rem;
    height: 45rem;
}

/*////////////////////////]
Services
//////////////////////////*/

.servicesSection {
    flex-direction: column;
    align-items: center;
    padding: 10rem;
}

.sectionTitle {
    font-size: 7rem;
    font-weight: 200;
    padding-bottom: 2rem;
    border-bottom: 3px solid rgba(252,159,91,1);
}

.servicesTitle{
    margin: 0 0 2rem 0;
}

.serviceIMG {
    min-width: 50rem;
    height: 35rem;
}

.service1,
.service2 {
    gap: 10rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.service1 {
    display: flex;
    flex-direction: row-reverse;
}

.service2 {
    display: flex;
    flex-direction: row;
}

.service.textContainer {
    width: 45rem;
}

.textContainer h3 {
    font-size: 4rem;
    font-weight: 200;
    text-align: center;
}

.service.textContainer p {
    font-size: 2.25rem;
}


/*////////////////////////
Contact
//////////////////////////*/
.contactSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contactTitle {
margin-top: 10rem;
}

form div,
label{
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: row;
    gap: 7rem;
    margin-bottom: 10rem;
}

label {
    font-size: 2rem;
    gap: 1rem;
    padding-bottom: 2rem;
}

input {
    width: 45rem;
    height: 5rem;
    border: none;
    border-radius: 1.25rem;
    outline: none;
    padding-left: 1rem;
}

textarea {
    font-size: 2rem;
    width: 50rem;
    border: none;
    border-radius: 1.25rem;
    padding: 1rem;
    color: rgba(67,112,133,1);
    resize: none;
    outline: none;
}

.submit {
    background-color: rgba(67,112,133,1);
    cursor: pointer;
    color: rgba(249,235,224,1);
    font-size: 2rem;
}

.submit:hover {
    color: rgba(67,112,133,1);
    background-color: rgba(249,235,224,1);
    border: 0.3rem solid rgba(67,112,133,1);
}

/*////////////////////////
Footer
//////////////////////////*/

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20rem;
}

.footerInfo ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .8rem;
    margin-right: 5.5rem;
}

.footerInfo ul li {
    font-size: 2.3125rem;
}


/*////////////////////////
Media Queries
////////////////////////*/


/* Mobile Phone */
@media (max-width: 480px){
    html{
        font-size: 40.5%;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0;
    }

    .gallerySection {
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    }

    .servicesTitle{
        margin: 7rem;
    }

    .textContainer {
        padding-bottom: 3rem;
    }

    .textContainer h2 {
        font-size: 5rem;
    }

    .textContainer p {
        margin-top: 0rem;
        font-size: 3rem;
    }

    .servicesSection {
        padding: 0rem;
        gap: 0rem;
    }

    .service1,
    .service2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0rem;
    }

    .sectionTitle {
        font-size: 5rem;
        padding-bottom: 0rem;
    }

    .servicesSection {
        padding: 0rem;
    }

    .textContainer h3 {
        margin-top: -7rem;
    }
    
    .service.textContainer p {
        margin-top: -2rem;
        margin-bottom: 8rem;
    }

    .contactSection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    form {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .contactTitle {
    margin-top: 10rem;
    }
    
    form div,
    label{
        display: flex;
        flex-direction: column;
    }
    
    form {
        display: flex;
        gap: 3rem;
        margin-bottom: 10rem;
    }
    
    label {
        font-size: 2.5rem;
        gap: 1rem;
        padding-bottom: 2rem;
    }
    
    input {
        width: 50rem;
        height: 7rem;
    }
    
    textarea {
        font-size: 2.5rem;
        height: 37rem;
    }
    
    .submit {
        font-size: 2.5rem;
        margin-top: 1.5rem;
        width: 51.5rem;
    }

    footer {
        flex-direction: column;
        height: 20rem;
    }
    
    .footerInfo ul{
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-right: 0rem;
    }
    
    .footerInfo ul li {
        font-size: 2.5rem;
    }
}

/* Tablet */
@media(min-width: 481px) and (max-width: 768px){
    html{
        font-size: 47.5%;
    }

    ul {
        gap: 1.5rem;
        padding: 0;
    }

    .gallerySection {
    padding: 7rem 3rem 3rem 3rem;
    flex-direction: column;
    align-items: center;
    }

    .servicesTitle{
        margin: 9rem 7rem 7rem 7rem;
    }

    .textContainer {
        padding-bottom: 3rem;
    }

    .textContainer h2 {
        font-size: 6rem;
    }

    .textContainer p {
        margin-top: 0rem;
        font-size: 3.5rem;
    }

    .servicesSection {
        padding: 0rem;
        gap: 0rem;
    }

    .service1,
    .service2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0rem;
    }

    .sectionTitle {
        font-size: 6rem;
        padding-bottom: 0rem;
    }

    .servicesSection {
        padding: 0rem;
    }

    .serviceIMG{
        min-width: 60rem;
        min-height: 46rem;
    }

    .textContainer h3 {
        margin-top: -5rem;
    }
    
    .service.textContainer p {
        margin-top: -1rem;
        margin-bottom: 8rem;
        min-width:  60rem;
    }

    .contactSection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    form {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .contactTitle {
    margin-top: 10rem;
    }
    
    form div,
    label{
        display: flex;
        flex-direction: column;
    }
    
    form {
        display: flex;
        gap: 3rem;
        margin-bottom: 10rem;
    }
    
    label {
        font-size: 2.5rem;
        gap: 1rem;
        padding-bottom: 2rem;
    }
    
    input {
        width: 50rem;
        height: 7rem;
    }
    
    textarea {
        font-size: 2.5rem;
        height: 37rem;
    }
    
    .submit {
        font-size: 2.5rem;
        margin-top: 1.5rem;
        width: 51.5rem;
    }

    footer {
        flex-direction: column;
        height: 20rem;
    }
    
    .footerInfo ul{
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-right: 0rem;
    }
    
    .footerInfo ul li {
        font-size: 2.5rem;
    }
}

/* Small screens, laptops */
@media(min-width: 769px) and (max-width: 1024px){
    html{
        font-size: 55.5%;
    }

    ul {
        gap: 1.5rem;
        padding: 0;
    }

    .gallerySection {
    padding: 7rem 3rem 3rem 3rem;
    flex-direction: column;
    align-items: center;
    }

    .servicesTitle{
        margin: 9rem 7rem 7rem 7rem;
    }

    .textContainer {
        padding-bottom: 3rem;
    }

    .textContainer h2 {
        font-size: 6rem;
    }

    .textContainer p {
        margin-top: 0rem;
        font-size: 3.5rem;
    }

    .servicesSection {
        padding: 0rem;
        gap: 0rem;
    }

    .service1,
    .service2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0rem;
    }

    .sectionTitle {
        font-size: 6rem;
        padding-bottom: 0rem;
    }

    .servicesSection {
        padding: 0rem;
    }

    .serviceIMG{
        min-width: 60rem;
        height: 45rem;
    }

    .textContainer h3 {
        margin-top: -5rem;
    }
    
    .service.textContainer p {
        margin-top: -1rem;
        margin-bottom: 8rem;
        min-width:  60rem;
    }

    .contactSection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    form {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .contactTitle {
    margin-top: 10rem;
    }
    
    form div,
    label{
        display: flex;
        flex-direction: column;
    }
    
    form {
        display: flex;
        gap: 3rem;
        margin-bottom: 10rem;
    }
    
    label {
        font-size: 2.5rem;
        gap: 1rem;
        padding-bottom: 2rem;
    }
    
    input {
        width: 50rem;
        height: 7rem;
    }
    
    textarea {
        font-size: 2.5rem;
        height: 37rem;
    }
    
    .submit {
        font-size: 2.5rem;
        margin-top: 1.5rem;
        width: 51.5rem;
    }

    
}

/* Desktops, large screens */
@media(min-width: 1025px) and (max-width: 1200px){
    
}

/* Large desktops and TV's */
@media(min-width: 1201px){
    
}